<nav class="navbar navbar-dark">
    <div class="container">
        <ul class="nav anv-pills">
            <li>
                <a class="nav-link" routerLinkActive="active" routerLink="/customer">Customer Management</a>
            </li>
            <li>
                <a class="nav-link" routerLinkActive="active" routerLink="/menu">Menu Management</a>
            </li>
            <li>
                <a class="nav-link" routerLinkActive="active" routerLink="/order">Order Management</a>
            </li>
            <li>
                <a class="nav-link" routerLinkActive="active" routerLink="/delivery">Delivery Management</a>
            </li>
            <li>
                <a class="nav-link" routerLinkActive="active" routerLink="/payment">Payment Management</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>