






<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" routerLinkActive="active" routerLink="home">
                    <i class="bi bi-fork-knife d-inline-block align-text-top"></i>
                    <strong class="text-danger">F</strong>oodie<strong class="text-danger">D</strong>elivery
                </a>
            </div>
        </nav>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Order Something" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav> -->